In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd

df = pd.read_csv('/content/gdrive/MyDrive/Raw Dataset/bmi.csv')

<ipython-input-2-69eb1b18c44b>:3: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/gdrive/MyDrive/Raw Dataset/bmi.csv')

In [ ]:
df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,NCD_BMI_MEANC,Mean BMI (kg/m&#xb2;) (crude estimate),numeric,AFR,Africa,Country,ETH,Ethiopia,Year,2016,...,NaN,NaN,10.99,NaN,14.77,12.86 [10.99 – 14.77],NaN,NaN,EN,2017-09-28T06:00:00.000Z
1,NCD_BMI_MEANC,Mean BMI (kg/m&#xb2;) (crude estimate),numeric,AMR,Americas,Country,CUB,Cuba,Year,2016,...,NaN,NaN,10.50,NaN,15.36,12.98 [10.5 – 15.36],NaN,NaN,EN,2017-09-28T06:00:00.000Z
2,NCD_BMI_MEANC,Mean BMI (kg/m&#xb2;) (crude estimate),numeric,AFR,Africa,Country,ETH,Ethiopia,Year,2016,...,NaN,NaN,11.69,NaN,14.58,13.14 [11.69 – 14.58],NaN,NaN,EN,2017-09-28T06:00:00.000Z
3,NCD_BMI_MEANC,Mean BMI (kg/m&#xb2;) (crude estimate),numeric,AFR,Africa,Country,ETH,Ethiopia,Year,2016,...,NaN,NaN,11.27,NaN,15.58,13.43 [11.27 – 15.58],NaN,NaN,EN,2017-09-28T06:00:00.000Z
4,NCD_BMI_MEANC,Mean BMI (kg/m&#xb2;) (crude estimate),numeric,AFR,Africa,Country,SEN,Senegal,Year,2016,...,NaN,NaN,11.51,NaN,15.43,13.45 [11.51 – 15.43],NaN,NaN,EN,2017-09-28T06:00:00.000Z

In [ ]:
df.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [ ]:
df.Dim2.unique()

NameError: ignored

In [ ]:
required_columns = ['Location', 'Period', 'Dim1', 'Dim2', 'FactValueNumeric']
df2 = df[required_columns]
df2.columns = ['Country', 'Year', 'Gender', 'Age_group', 'bmi']

In [ ]:
df2 = df2[df2.Year>1999]
df2 = df2[df2.Year<2016]

In [ ]:
df2 = df2.sort_values(by=['Country', 'Year'],ignore_index=True)
df2

           Country  Year      Gender    Age_group    bmi
0      Afghanistan  2000        Male    5-9 years  13.39
1      Afghanistan  2000  Both sexes    5-9 years  13.76
2      Afghanistan  2000      Female    5-9 years  14.14
3      Afghanistan  2000        Male  5-19  years  15.69
4      Afghanistan  2000  Both sexes  5-19  years  16.26
...            ...   ...         ...          ...    ...
41295     Zimbabwe  2015  Both sexes  10-19 years  19.34
41296     Zimbabwe  2015      Female  10-19 years  20.26
41297     Zimbabwe  2015        Male   18+  years  21.90
41298     Zimbabwe  2015  Both sexes   18+  years  23.30
41299     Zimbabwe  2015      Female   18+  years  24.70

[41300 rows x 5 columns]

In [ ]:
df2.Age_group.unique()

array(['5-9 years', '5-19  years', '10-19 years', '20+ years',
       '18+  years'], dtype=object)

In [ ]:
df2 = df2[df2.Age_group!='5-19  years']
df2 = df2[df2.Age_group!='18+  years']

In [ ]:
df2.Age_group.unique()

array(['5-9 years', '10-19 years', '20+ years'], dtype=object)

In [ ]:
df2.sort_values(by=['Country','Year'],ignore_index=True, inplace=True)

In [ ]:
df2.head(20)

        Country  Year      Gender    Age_group    bmi
0   Afghanistan  2000        Male    5-9 years  13.39
1   Afghanistan  2000  Both sexes    5-9 years  13.76
2   Afghanistan  2000      Female    5-9 years  14.14
3   Afghanistan  2000        Male  10-19 years  17.27
4   Afghanistan  2000  Both sexes  10-19 years  17.99
5   Afghanistan  2000      Female  10-19 years  18.75
6   Afghanistan  2000      Female    20+ years  20.60
7   Afghanistan  2000        Male    20+ years  20.60
8   Afghanistan  2001        Male    5-9 years  13.43
9   Afghanistan  2001  Both sexes    5-9 years  13.81
10  Afghanistan  2001      Female    5-9 years  14.20
11  Afghanistan  2001        Male  10-19 years  17.32
12  Afghanistan  2001  Both sexes  10-19 years  18.04
13  Afghanistan  2001      Female  10-19 years  18.80
14  Afghanistan  2001      Female    20+ years  20.60
15  Afghanistan  2001        Male    20+ years  20.60
16  Afghanistan  2002        Male    5-9 years  13.48
17  Afghanistan  2002  Both sexes    5-9 years  13.86
18  Afghanistan  2002      Female    5-9 years  14.25
19  Afghanistan  2002        Male  10-19 years  17.37

In [ ]:
df3 = pd.DataFrame(df2.groupby(['Country','Year','Gender'])['bmi'].mean())
type(df3)
# df3

pandas.core.frame.DataFrame

In [ ]:
df3

                                   bmi
Country     Year Gender
Afghanistan 2000 Both sexes  15.875000
                 Female      17.830000
                 Male        17.086667
            2001 Both sexes  15.925000
                 Female      17.866667
...                                ...
Zimbabwe    2014 Female      17.510000
                 Male        16.345000
            2015 Both sexes  16.945000
                 Female      17.520000
                 Male        16.370000

[9360 rows x 1 columns]

In [ ]:
male_data = df3.query('Gender == "Male"')
male_data = male_data.sort_values(by=['Country', 'Year'],ignore_index=True)
male_data

            bmi
0     17.086667
1     17.116667
2     17.150000
3     17.146667
4     17.180000
...         ...
3115  16.280000
3116  16.300000
3117  16.320000
3118  16.345000
3119  16.370000

[3120 rows x 1 columns]

In [ ]:
female_data = df3.query('Gender == "Female"')
female_data= female_data.sort_values(by=['Country', 'Year'],ignore_index=True)

female_data

            bmi
0     17.830000
1     17.866667
2     17.903333
3     17.976667
4     18.010000
...         ...
3115  17.490000
3116  17.495000
3117  17.505000
3118  17.510000
3119  17.520000

[3120 rows x 1 columns]

In [ ]:
both_data = df3.query('Gender == "Both sexes"')
both_data= both_data.sort_values(by=['Country', 'Year'],ignore_index=True)

both_data

         bmi
0     15.875
1     15.925
2     15.980
3     16.030
4     16.080
...      ...
3115  16.885
3116  16.895
3117  16.910
3118  16.930
3119  16.945

[3120 rows x 1 columns]

In [ ]:
df4 = df2[['Country','Year']]
df4.drop_duplicates(inplace=True)

<ipython-input-19-c802fd010720>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop_duplicates(inplace=True)

In [ ]:
df4.shape

(3120, 2)

In [ ]:
df4.sort_values(by=['Country','Year'],ignore_index=True, inplace=True)

<ipython-input-21-0b1bf5c42e98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.sort_values(by=['Country','Year'],ignore_index=True, inplace=True)

In [ ]:
df4['Male_bmi'] = male_data
df4['Female_bmi'] = female_data
df4['bmi'] = both_data
df4

<ipython-input-22-7ae8599e616b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Male_bmi'] = male_data
<ipython-input-22-7ae8599e616b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Female_bmi'] = female_data
<ipython-input-22-7ae8599e616b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['bmi'] = both_data

          Country  Year   Male_bmi  Female_bmi     bmi
0     Afghanistan  2000  17.086667   17.830000  15.875
1     Afghanistan  2001  17.116667   17.866667  15.925
2     Afghanistan  2002  17.150000   17.903333  15.980
3     Afghanistan  2003  17.146667   17.976667  16.030
4     Afghanistan  2004  17.180000   18.010000  16.080
...           ...   ...        ...         ...     ...
3115     Zimbabwe  2011  16.280000   17.490000  16.885
3116     Zimbabwe  2012  16.300000   17.495000  16.895
3117     Zimbabwe  2013  16.320000   17.505000  16.910
3118     Zimbabwe  2014  16.345000   17.510000  16.930
3119     Zimbabwe  2015  16.370000   17.520000  16.945

[3120 rows x 5 columns]

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3120 non-null   object
 1   Year        3120 non-null   int64
 2   Male_bmi    3066 non-null   float64
 3   Female_bmi  3066 non-null   float64
 4   bmi         3056 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 122.0+ KB

In [ ]:
df4.isna().sum()

Country        0
Year           0
Male_bmi      54
Female_bmi    54
bmi           64
dtype: int64

In [ ]:
df4.to_csv("bmi_genderwise.csv")

TypeError: ignored

ENd of code